<ion-view view-title="Media capture"
  hide-back-button="true"
  can-swipe-back="false">
  <ion-content overflow-scroll="true">
    <div class="row">
      <div class="col">
        <video ng-if="vm.videoUrl" ng-src="{{vm.videoUrl}}" autoplay controls width="100%"></video>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button ng-click="vm.captureVideo()" class="button button-block button-positive icon ion-record">
          Start native recording
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button ng-if="!vm.isRecordActive" ng-click="vm.startRecording()" class="button button-block button-stable icon ion-record">
          Start JS recording
        </button>
        <button ng-if="vm.isRecordActive" ng-click="vm.stopRecording()" class="button button-block button-assertive icon ion-record">
          Stop JS recording
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <video id="videoResult" autoplay height="250px" width="100%" controls></video>
      </div>
    </div>
  </ion-content>
</ion-view>
